Config {
     font =         "xft:Fantasque Sans Mono:size=13:bold:antialias=true"
   , additionalFonts = [ "xft:FontAwesome" ]
   , bgColor =      "#202020"
   , fgColor =      "orange"
   , alpha = 255
   , position =     TopW R 40
   , border =       NoBorder
   , borderColor =  "black"

   , sepChar =  "%"
   , alignSep = "}{"
   , iconRoot = ""
   , template = "}{ %UnsafeStdinReader%"

   , textOffset = -1
   , iconOffset = -1

   , lowerOnStart =     True
   , hideOnStart =      False
   , allDesktops =      True
   , overrideRedirect = True
   , pickBroadest =     False
   , persistent =       True

   , commands = [ Run UnsafeStdinReader ]
}
