[user]
	name = nakal
	email = nakal@users.noreply.github.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[push]
	default = simple
[difftool]
	prompt = false
[include]
	path = ~/.gitconfig_local
